*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

html{
    height: 100%;
    width: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }



.container{
   display: grid;
   justify-content: center;
   align-content: center;
   min-height: 100vh;
   grid-template-columns: repeat(4, 100px);
   grid-template-rows: minmax(120px, auto) repeat(5, 100px);
   
}

.container > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: grey;
}

.container > button:hover {
    background-color: lightblue
}

.span-two{
    grid-column: span 2;
}

.display-output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.display-output > .previous-number{
    color: white;
}

.display-output > .new-number{
    color: white;
}
